<ng-container *ngIf="BanderaDatos else vista">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">Ingresa los filtros</h5>
        </div>
    </div>
    <form [formGroup]="myForm">
        <div class="row mt-3">
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="ancho-completo">
                    <mat-label>Fecha Inicial*</mat-label>
                    <input type="date" matInput formControlName="fechaInicial" name="fechaInicial">
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6">
                <mat-form-field class="ancho-completo">
                    <mat-label>Fecha Final*</mat-label>
                    <input type="date" matInput formControlName="fechaFinal" name="fechaFinal">
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="row mt-3 justify-content-around">
        <div class="col-3">
            <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="mostrarReporte()">Filtrar
                Datos</button>
        </div>
        <div class="col-3">
            <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
        </div>
    </div>
</ng-container>
<ng-template #vista>
    <div *ngIf="BanderaVista" class="reporte">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">LISTADO DE ESTANTES</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <table style="width:100%">
                    <tr>
                        <td>
                            <p> <b>Fecha de Inicio :</b> {{myForm.get('fechaInicial').value | date: 'dd/MM/yyyy'}}</p>
                        </td>
                        <td>
                            <p> <b>Fecha Final : </b> {{myForm.get('fechaFinal').value | date: 'dd/MM/yyyy'}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="boton mt-3 mb-3">
                                <button mat-raised-button color="primary" (click)="generatePDF()">GENERAR PDF <i
                                        class="fas fa-file-pdf"></i></button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table style="width:100%">
                    <tr>
                        <th class="text-center">Codigo</th>
                        <th class="text-center">Material</th>
                        <th class="text-center">Color</th>
                        <th class="text-center">Altura</th>
                        <th class="text-center">Ancho</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Fecha Registro</th>
                    </tr>
                    <tr *ngFor="let item of tipos">
                        <td class="text-justify ">{{item.codigo}}</td>
                        <td class="text-center ">{{item.material}} </td>
                        <td class="text-justify">{{item.color}} </td>
                        <td class="text-justify ">{{item.altura}} m</td>
                        <td class="text-center ">{{item.ancho}} m</td>
                        <td class="text-justify">{{item.estado}} </td>
                        <td class="text-justify">{{item.created_at| date : 'dd/MM/yyyy'}} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="!BanderaVista">
        <app-spinner></app-spinner>
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <span class="spiner">En este momento se esta generando el reporte. Espera ........ <i
                        class="fas fa-file-pdf"></i></span>
            </div>
        </div>
    </div>
</ng-template>
