<ng-container *ngIf="BanderaDatos else vista">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">Ingresa los filtros</h5>
        </div>
    </div>
    <form [formGroup]="myForm">
        <div class="row mt-12">
            <div class="col-sm-12">
                <mat-form-field class="ancho-completo">
                    <mat-label>Estado*</mat-label>
                    <mat-select formControlName="estado" name="estado">
                        <mat-option value=""> TODOS </mat-option>
                        <mat-option *ngFor="let item of estados"  [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="row mt-3 justify-content-around">
        <div class="col-6">
            <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="mostrarReporte()">Filtrar
                Datos</button>
        </div>
        <div class="col-6">
            <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
        </div>
    </div>
</ng-container>
<ng-template #vista>
    <div *ngIf="BanderaVista" class="reporte">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">ESTANTES</h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-3 mb-3">
                 <button mat-raised-button color="primary" (click)="generatePDF()">Generar PDF</button>
            </div>
            <div class="col-4 mb-3">
                <button mat-raised-button color="accent" (click)="atras()">Cancelar</button>
        </div>       
        </div>
        <div class="row">
            <div class="col-12">
                <table style="width:100%">
                    <tr>
                        <th class="text-center">Codigo</th>
                        <th class="text-center">Material</th>
                        <th class="text-center">Color</th>
                        <th class="text-center">Altura</th>
                        <th class="text-center">Ancho</th>
                        <th class="text-center">Estado</th>
                    </tr>
                    <tr *ngFor="let item of estantes">
                        <td class="text-justify ">{{item.codigo}}</td>
                        <td class="text-center ">{{item.material}} </td>
                        <td class="text-center">{{item.color}} </td>
                        <td class="text-center ">{{item.altura}} m</td>
                        <td class="text-center ">{{item.ancho}} m</td>
                        <td class="text-center">{{item.estado}} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="!BanderaVista">
        <app-spinner></app-spinner>
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <span class="spiner">En este momento se esta generando el reporte. Espera ........ <i
                        class="fas fa-file-pdf"></i></span>
            </div>
        </div>
    </div>
</ng-template>
