
   <div class="row justify-content-center" >
     <div class="col-7">
      <h1 mat-dialog-title> Información del documento  </h1>
     </div>
  
   </div>
   
    <div mat-dialog-content class="mat-typography">
      <div class="row clearfix">
        <div class="col-sm-12 col-md-6">
          <h4> <b>Nombre :</b>  {{data.nombre}}</h4>
         
        </div>
        <div class="col-sm-12 col-md-6">
            <h4> <b>Codigo :</b>  {{data.codigo}}</h4>
           
          </div>
        
      </div>
    <div class="row">
     
      <div class="col-sm-12">
        <h4 > <b>Descripción : </b></h4>
        <p> {{data.descripcion}}</p>
      </div>
    </div>

    <div class="row clearfix">
        <div class="col-sm-6">
          <h4> <b>Numero de paginas :</b>  {{ data.numero_paginas}}</h4>
         
        </div>
        <div class="col-sm-6">
          <h4 > <b>Estado :</b>   {{data.estado}}</h4>
        </div>
        
      </div>
      <div class="row clearfix">
        <div class="col-sm-6">
          <h4> <b>Tipo de documento :</b>  {{ data.tipo_documento?.nombre || 'No Disponible'}}</h4>
         
        </div>
        <div class="col-sm-6">
          <h4 > <b>Ubicacion :</b>   {{data.ubicacion?.codigo || 'Sin Ubicacion'}}</h4>
        </div>
        
      </div>
      <div class="row">
     
        <div class="col-sm-12">
          <h4 > <b>Tramite : </b></h4>
          <p> {{data.tramite.referencia}}</p>
        </div>
      </div>

      <div class="row">
     
        <div class="col-sm-6">
          <h4 > <b>Fecha de ingreso : </b> {{data.created_at|date: "dd/MM/yyyy"}}</h4>
        </div>
        <div class="col-sm-6">
            <h4 > <b>Hora de ingreso : </b> {{data.created_at|date: 'shortTime'}}</h4>
          </div>
      </div>
    </div>
      <div class="row justify-content-center">
        
        <div class="col-3">
            <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
        </div>
      </div>