<div class="busqueda" *ngIf="BanderaDatos">

    <mat-card class="mt-5" style="width: 80%; margin: auto;">
        <mat-card-title>
            <h4 class="text-left">Reporte General</h4>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="myForm">
                <div class="row justify-content-center mt-3">
                    <div class="col-sm-12 col-md-4">
                        <mat-form-field class="ancho-completo">
                            <mat-label>Fecha Inicial*</mat-label>
                            <input type="date" matInput formControlName="fecha_inicial" name="fecha_inicial">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <mat-form-field class="ancho-completo">
                            <mat-label>Fecha Final*</mat-label>
                            <input type="date" matInput formControlName="fecha_final" name="fecha_final">
                        </mat-form-field>
                    </div>
            
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="row mt-1 mb-1 justify-content-center">
                <div class="col-4">
                    <button class="ancho-completo" mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="mostrarReporte()">Filtrar
                        Datos</button>
                </div>
            </div>
        
        </mat-card-actions>
    </mat-card>

    <mat-card class="mt-4" style="width: 80%; margin: auto;">

        <mat-card-content class="tramite">
            <h4 class="text-left">Reporte Individual</h4>
            <div class="row mb-3 justify-content-center" *ngIf="!BanderaBoton">
             
                <div class="col-sm-11">
                  <div class="row" *ngIf="!BanderaBusqueda">
                   
                   
                        <div class="col-4 mt-2">
                            <mat-form-field class="ancho-completo">
                                <mat-label>Buscar por</mat-label>
                                <mat-select #buscar value="codigo">
                                    <mat-option *ngFor="let item of types"  [value]="item.value">
                                      {{item.codigo}}
                                    </mat-option>
                                  </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4 mt-2">
                            <mat-form-field class="ancho-completo">
                                <mat-label>Busqueda</mat-label>
                                <input matInput placeholder="Ingresa un registro" #nombre>
                            </mat-form-field>
                        </div>
                        <div class="col-4 mt-4 mb-2">
                            <button class="ancho-completo" (click)="cargarDatosBusqueda(nombre.value,  buscar.value, fecha_inicial.value, fecha_final.value)"  mat-raised-button color="warn">Buscar <i class="fas fa-search"></i></button>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field class="ancho-completo">
                              <mat-label>Fecha Inicial*</mat-label>
                              <input type="date" matInput #fecha_inicial [value]="obtenerFechaActual()">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-4">
                            <mat-form-field class="ancho-completo">
                              <mat-label>Fecha Final*</mat-label>
                              <input type="date" matInput #fecha_final [value]="obtenerFechaActual()">
                            </mat-form-field>
                          </div>
                    </div>
                     
                   <div class="col-12" *ngIf="!BanderaBusqueda">
                   
                      <table style="width: 100%;" class="mt-2 " *ngIf="spiner && tablaBandera">
                        <tr>
                          <th class="text-center">Referencia</th>
                          <th class="text-center">Solicitante</th>
                          <th class="text-center">Ingreso</th>
                          <th class="text-center">Seleccionar</th>
                        </tr>
                        <tr *ngFor="let item of tramites">
                          <td class="text-center">{{item.referencia}}</td>
                          <td class="text-center">{{item.solicitud.solicitante.nombre}}</td>
                          <td class="text-center">{{item.solicitud.ingreso | date: 'dd/MM/yyyy'}}</td>
                          <td class="text-center"> <button (click)="seleccionarSolicitante(item)"  mat-mini-fab color="primary" >
                            <i class="fas fa-check-circle"></i>
                          </button></td>
                        </tr>
                      </table>
                      <div class="spiner" *ngIf="!spiner">
                          <app-spinner></app-spinner>
                      </div>
                    </div>
                   </div>
                  
                   <div class="col-sm-12">
                    <div class="row" *ngIf="BanderaBusqueda">
                        <div class="col-7">
                         <mat-form-field  class="ancho-completo">
                           <mat-label>Tramite*</mat-label>
                           <mat-select [(ngModel)]="tramiteSeleccionado.id">
                             <mat-option [value]="tramiteSeleccionado.id">
                               {{tramiteSeleccionado.referencia}}
                             </mat-option>
                           </mat-select>
                         </mat-form-field>
                        </div>
                        <div class="col-5">
                         <button  class="ancho-completo" (click)="reBusqueda()"  mat-raised-button color="warn"> Volver a Buscar <i class="fas fa-search"></i></button>
                        </div>
                      </div>
                   </div>
                 
                </div>
            
        </mat-card-content>
        <mat-card-actions>
            <div class="row justify-content-center ">
           
                <div class="col-4">
                    <button [disabled]="!BanderaBusqueda" class="ancho-completo" mat-raised-button color="primary" (click)="abrir()">Visualizar reporte de tramite</button>
                </div>
            </div> 
        </mat-card-actions>
    </mat-card>
   
</div>

<div *ngIf="!BanderaDatos" class="reporte">
    <div class="row mt-5">
        <div class="col-12">
            <h4 class="text-center">REPORTE DE TRAMITES</h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3 mb-3">
            <button  class="ancho-completo" mat-raised-button color="primary" (click)="generatePDF()">Generar PDF</button>
        </div>
        <div class="col-3 mb-3">
            <button  class="ancho-completo" mat-raised-button color="accent" (click)="atras()">Cancelar</button>
        </div>
    </div>
   <div class="row mt-2 justify-content-center">
        <div class="col-10">
            <mat-card>
                <div class="row">
                    <div class="col-9">
                        <h5>Tipo de Tramite mas registrado</h5>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-6">
                              <p> <b>Nombre :</b>  {{tipo.nombre}}</p>
                             
                            </div>
                            <div class="col-sm-12 col-md-6">
                             <p > <b>Estado :</b>   {{tipo.estado}}</p>
                               
                              </div>
                            
                          </div>
                          <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <p > <b>Codigo :</b>   {{tipo.codigo}}</p>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p > <b>Cantidad de tramites registrados:</b>   {{tipos[0].cantidad}}</p>
                            </div>
                          </div>
                        <div class="row">
                         
                          <div class="col-sm-12">
                            <p > <b>Descripción : </b> {{tipo.descripcion}}</p>
                          </div>
                        </div>
                        </div>
                        <div class="col-3">
                            <h5>Top 3 </h5>
                            <table class="mt-3">
                                <tr>
                                    <th> Nombre </th>  <th> Cantidad </th>
                                </tr>
                                <tr *ngFor="let item of tipos">
                                    <td> {{item.nombre}}</td>
                                    <td> {{item.cantidad}}</td>
                                </tr>
                              
                            </table>
                        </div>
                </div>
            </mat-card>
        </div>  
    </div>
    <div class="row mt-2 justify-content-center">
        <div class="col-10">
            <mat-card>
                <div class="row">
                    <div class="col-9">
                        <h5>Solicitante que registro mas tramites</h5>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-6">
                              <p> <b>Nombre :</b>  {{solicitante.nombre}}</p>
                             
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p> <b>Apellido :</b>  {{solicitante.apellido}}</p>
                               
                              </div>
                            
                          </div>
                          <div class="row clearfix">
                             <div class="col-sm-12 col-md-6">
                               <p> <b>Telefono :</b>  {{solicitante.telefono}}</p>
                              
                             </div>
                             <div class="col-sm-12 col-md-6">
                                 <p> <b>Ci :</b>  {{solicitante.ci}}</p>
                                
                               </div>
                             
                           </div>
                           <div class="row clearfix">
                            <div class="col-sm-12 col-md-6">
                              <p> <b>Estado :</b>  {{solicitante.estado}}</p>
                             
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p> <b>Cantidad de tramites registrados :</b>  {{solicitantes[0].cantidad}}</p>
                               
                              </div>
                            
                          </div>
                        </div>
                        <div class="col-3">
                            <h5>Top 3 </h5>
                            <table class="mt-3">
                                <tr>
                                    <th> Nombre </th>  <th> Cantidad </th>
                                </tr>
                                <tr *ngFor="let item of solicitantes">
                                    <td> {{item.nombre}} {{item.apellido}}</td>
                                    <td> {{item.cantidad}}</td>
                                </tr>
                              
                            </table>
                        </div>
                </div>
            </mat-card>
        </div>  
    </div>

    <div class="row  mt-2 justify-content-center">
        <div class="col-10">
            <mat-card>
                <div class="row">
                    <div class="col-9">
                        <h5>Funcionario que gestiono mas tramites</h5>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-6">
                              <p> <b>Nombre :</b>  {{funcionario.nombre}}</p>
                             
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p> <b>Apellido :</b>  {{funcionario.apellido}}</p>
                               
                              </div>
                            
                          </div>
                          <div class="row clearfix">
                             <div class="col-sm-12 col-md-6">
                               <p> <b>Fecha de Nacimiento :</b>  {{funcionario.fecha_nacimiento | date: 'dd/MM/yyyy'}}</p>
                              
                             </div>
                             <div class="col-sm-12 col-md-6">
                                 <p> <b>Cargo :</b>  {{funcionario.cargo}}</p>
                                
                               </div>
                             
                           </div>
                           <div class="row clearfix">
                            <div class="col-sm-12 col-md-6">
                              <p> <b>Telefono :</b>  {{funcionario.telefono}}</p>
                             
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p> <b>Cantidad de tramites registrados :</b>  {{funcionarios[0].cantidad}}</p>
                               
                              </div>
                            
                          </div>
                        </div>
                        <div class="col-3">
                            <h5>Top 3 </h5>
                            <table class="mt-3">
                                <tr>
                                    <th> Nombre </th>  <th> Cantidad </th>
                                </tr>
                                <tr *ngFor="let item of funcionarios">
                                    <td> {{item.nombre}} {{item.apellido}}</td>
                                    <td> {{item.cantidad}}</td>
                                </tr>
                              
                            </table>
                        </div>
                </div>
            </mat-card>
        </div>  
    </div>
  
            <mat-card class="mt-4">
                <div class="row justify-content-center">
                        <div class="col-12">
                            <h5 style="text-align: center;">Total de tramites segun su estado </h5>
                            <table style="margin: auto;" class="mt-3">
                                <tr>
                                    <th> Estado de Tramite </th>  <th> Cantidad </th>
                                </tr>
                                <tr *ngFor="let item of lista">
                                    <td> {{item.tramite_estado}}</td>
                                    <td> {{item.cantidad}}</td>
                                </tr>
                              
                            </table>
                        </div>
                </div>
            </mat-card>


   
</div>
