.mat-form-field {
    margin-right: 12px;
  }
th.mat-header-cell {
    text-align: center;
    font-size: 0.85rem;
}
td.mat-cell {
    
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

td {
    margin: 0.5rem;
}

th.mat-header-cell { 
  padding: 0.3rem;

}