<h6 class="text-center"> <b>Ubicacion del centro {{data.nombre}}</b> </h6>
<div class="map-container">
  <div *ngIf="BanderaBoton" class="map-marker-centered"></div>
    <div id='mapid'></div>
</div>
<div class="row justify-content-center mt-2">
       
    <div class="col-4 ">
        <button class="ancho-completo" mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
    </div>
    <div class="col-4">
        <button class="ancho-completo" mat-raised-button color="accent" (click)="calcularDistancia()">Generar camino desde mi ubicación</button>
    </div>
  </div>