#mapid {height: 450px; width: 100%; margin-top: 2rem;}
  .map-container{
    position: relative;
    height: 450px;
    width: 100%;
    margin: auto;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .map-marker-centered{
    background: url('../../../../../assets/images/marker.png');
    position: absolute;
    z-index: 1000;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    transition: all 0.4s ease;
  }

  .update {
    margin-top: 5px;
  }

  .ancho-completo {
    width: 100%;
    margin-top: 2.5rem;
  }