.spiner {
    font-size: large;
    font-weight: bold;
    color: #3f51b5;
}

.ancho-completo { 
    width: 100%;
}
td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ancho-completo {
    width: 100%;
}