<div class="row justify-content-center" >
    <div class="col-6">
     <h1 mat-dialog-title> Información del permiso  </h1>
    </div>
 
  </div>
  
   <div mat-dialog-content class="mat-typography">
     <div class="row clearfix">
       <div class="col-sm-12 col-md-6">
         <h4> <b>Nombre :</b>  {{data.nombre}}</h4>
        
       </div>
       <div class="col-sm-12 col-md-6">
        <h4 > <b>Tipo :</b>   {{data.tipo}}</h4>
          
         </div>
     </div>
   <div class="row">
    
     <div class="col-sm-12">
       <h4 > <b>Descripción : </b> {{data.descripcion}}</h4>
     </div>
   </div>

   </div>
     <div class="row justify-content-center">
       
       <div class="col-3">
           <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
       </div>
     </div>