<div class="row">
    <div class="col-12">
        <button routerLink="form" class="mt-5" mat-raised-button color="primary">Registrar Nueva Solicitud</button>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-11">
            <div [hidden]="!BanderaDatos" class="mat-elevation-z8">
               <app-table (envio)="cargar($event)" 
                          [dataSource]="dataSource" 
                          [headers]="displayedColumns" 
                          [opciones]="opciones">
               </app-table>
               <mat-paginator 
               [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pagination($event)"></mat-paginator>
            </div>   
            <div [hidden]="BanderaDatos">
               <app-spinner></app-spinner>
            </div> 
        </div>
    </div>
</div>
