<div class="row justify-content-center" >
    <div class="col-7">
     <h1 mat-dialog-title> Información del funcionario  </h1>
    </div>
 
  </div>
  
   <div mat-dialog-content class="mat-typography">
 
    <div class="row">
    
        <div class="col-sm-6">
          <h4 > <b>Nombre : </b> {{data.nombre}}</h4>
        </div>
        <div class="row">
    
            <div class="col-sm-12">
              <h4 > <b>Apellido : </b> {{data.apellido}}</h4>
            </div>
          </div>
      </div>
      <div class="row">
    
        <div class="col-sm-6">
          <h4 > <b>Cargo : </b> {{data.cargo}}</h4>
        </div>
        <div class="row">
    
            <div class="col-sm-12">
              <h4 > <b>Fecha de Nacimiento : </b> {{data.fecha_nacimiento|date: "dd/MM/yyyy"}}</h4>
            </div>
          </div>
      </div>
      <div class="row">
    
        <div class="col-sm-6">
          <h4 > <b>Genero : </b> {{data.genero}}</h4>
        </div>
        <div class="row">
    
            <div class="col-sm-12">
              <h4 > <b>Telefono : </b> {{data.telefono}}</h4>
            </div>
          </div>
      </div>
   <div class="row">
    
     <div class="col-sm-12">
       <h4 > <b>Estado : </b> {{data.estado}}</h4>
     </div>
   </div>

   </div>
     <div class="row justify-content-center">
       
       <div class="col-3">
           <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
       </div>
     </div>
