
button {
   // padding: 6px 20px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.mat-form-field {
    margin-right: 12px;
  }
th.mat-header-cell {
    text-align: center;
}
td.mat-cell {
    
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

td {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

th.mat-header-cell { 
  padding: 0.3rem;

}