<mat-toolbar color="primary" class="navbar">
    <!-- <div></div> -->
    <div>
      <span>  <a routerLink="inicio">Inicio <i class="fas fa-home"></i></a></span>
      <span> <a routerLink="login">Inicio de Sesion <i class="fas fa-sign-in-alt"></i></a>  </span>
    </div>
   
    <div>
     
      <span> <a routerLink="circular">Circulares <i class="fas fa-file-pdf"></i></a>  </span>
      <span> <a routerLink="instructivo">Instructivos <i class="fas fa-file-pdf"></i></a>  </span>
      <span> <a routerLink="convocatoria">Convocatorias <i class="fas fa-file-pdf"></i></a>  </span>
      <span> <a routerLink="cea">CEAs <i class="fas fa-building"></i></a>  </span>
      <span> <a routerLink="cee">CEEs <i class="fas fa-building"></i></a>  </span>
      <span> <a routerLink="cep">CEPs <i class="fas fa-building"></i></a>  </span>
    </div>
  </mat-toolbar>
