<div class="row">
    <div class="col-3">
        <app-boton-crear titulo="Crear Nuevo Solicitante"></app-boton-crear>
    </div>
  
        <div class="col-3 mt-2">
            <mat-form-field >
                <mat-label>Buscar por</mat-label>
                <mat-select #tipo>
                    <mat-option *ngFor="let item of tipos"  [value]="item.value">
                      {{item.codigo}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3 mt-2">
            <mat-form-field class="example-full-width">
                <mat-label>Busqueda</mat-label>
                <input matInput placeholder="Ingresa un registro" #nombre>
            </mat-form-field>
        </div>
        <div class="col-3 mt-4 mb-2">
            <button class="ancho-completo" (click)="cargarDatosBusqueda(nombre.value,  tipo.value)"  mat-raised-button color="warn">Buscar <i class="fas fa-search"></i></button>
        </div>
      

    </div>
    <div class="row justify-content-center">
  <div class="col-3  mt-2">
        <button mat-raised-button color="accent" (click)="abrirReporteDetalles()">Ver Reporte de Listado <i class="fas fa-clipboard-list"></i> </button>
    </div>
   
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-9">
                <div [hidden]="!BanderaDatos" class="mat-elevation-z8">
                   <app-table (envio)="cargar($event)" 
                              [dataSource]="dataSource" 
                              [headers]="displayedColumns" 
                              [opciones]="opciones">
                   </app-table>
                   <mat-paginator 
                   [length]="length"
                   [pageSize]="pageSize"
                   [pageIndex]="currentPage - 1"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pagination($event, nombre.value, tipo.value)"></mat-paginator>
                </div>   
                <div [hidden]="BanderaDatos">
                   <app-spinner></app-spinner>
                </div> 
            </div>
        </div>
    </div>
    