<div class="container">
    <div class="row pt-5 justify-content-center">
        <div class=" banner col-4">
            <img src="https://th.bing.com/th/id/OIP.keE7Z2SNO57ThHVxPQiToAHaHa?pid=Api&rs=1"
                alt="imagen no disponible">
        </div>
        <div class="col-4">
            <div class="mision">
                <h5>MISION</h5>
                <p>Es la instancia que viabiliza, gestiona, ejecuta planes, programas y proyectos educativos del ambito de
                    educacion alternativa y especial en el departamento de Santa Cruz de la Sierra</p>
            </div>
            <br>
            <div class="vision">
                <h5>VISION</h5>
                <p>Univerzalizando el sistema educativo plurinacional, las personas, las familias y organizaciones de Santa
                    Cruz, cuentan con estructuras educativas propias que fortalecen de manera integral su formacion</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-8">
             <h5> OBJETIVO</h5>
            <p>
                El objetivo de la Sub-Dirección de Educación Alternativa y Especial es hacer Cumplir la aplicación de la
                educación sistemática, normada, obligatoria y procesual que se brinda y desarrolla en el marco de los
                enfoques de la Educación Popular y Comunitaria, Educación Inclusiva y Educación a lo largo de la vida,
                priorizando a la población en situación de exclusión, marginación o discriminación y su proyección en el
                ámbito productivo, con carácter intercultural, intercultural y plurilingüe en todo el Subsistema de
                Educación Alternativa y Especial, destinada a atender necesidades y expectativas educativas de personas,
                familias, comunidades y organizaciones que requieren dar continuidad a sus estudios o que precisan formación
                permanente en y para la vida.
            </p>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-8">
            
               <h5> PRINCIPALES ACTIVIDADES</h5>
               <ul>
                   <li> Hacer cumplir los lineamientos emanados del nivel nacional para la generación de información estadística.</li>
                   <li> Conducir la consolidación de información estadística educativa departamental relativa a población educativa, infraestructura educativa, recursos humanos y a todos aquellos subsistemas en vigencia.</li>
                   <li>Promover el análisis de información estadística generada en los distritos educativos acerca de estudiantes, docentes, administrativos e infraestructura escolar.</li>
                   <li>Supervisar la integración de información estadística a nivel departamental, incorporando variables étnicas, geográficas y socioeconómicas de la región.</li>
                   <li>Dirigir el control de calidad de la información educativa generada en el Departamento.</li>
                   <li>Conducir la administración eficiente y eficaz de la red de computadoras y base de datos de la D.D.E.</li>
                   <li> Apoyar el proceso de nuclearización de acuerdo a las normas y lineamientos establecidos por el nivel
                    nacional.</li>
                   <li>Promover la consolidación de los órganos de participación popular para el desarrollo de la gestión educativa participativa en el Departamento.</li>
                   <li>Guiar la realización de proyecciones estadísticas escolares para determinar las necesidades de recursos
                    (materiales, humanos y financieros).</li>
                   <li>Elaborar los informes parciales o de gestión de la D.D.E.</li>
               </ul>
              
            
        </div>
    
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <h5> ORGANIGRAMA</h5>
            <div class="organigrama">
                <img src="../../../../../assets/images//organigrama.jpg" alt="">
            </div>
        </div>
                
                
            
           
        </div>
    <br><br>
</div>
