img {
    width: 100%;
}
p {
    text-align: justify;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}
.container {
    max-width: '60vw';
}

.organigrama img {
    width: 100%;
    margin: auto;
}