<div class="row justify-content-center">
  <div class="col-xs-12 col-md-6 mt-5">

   <ng-container *ngIf="BanderaDatos else vacio">
    <mat-card class="example-card">
       
      <div class="row justify-content-center">
        <div class="col-11">
          <mat-card-header>
          <mat-card-title> {{BanderaTitulo}} DE CENTRO DE FORMACION</mat-card-title>
        </mat-card-header> 
        </div>
      </div>
     
    <mat-card-content>
     <form  [formGroup]="myForm">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="ancho-completo">
            <mat-label>Nombre*</mat-label>
            <input matInput formControlName="nombre" name="nombre">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <mat-form-field class="ancho-completo">
              <mat-label>Sie*</mat-label>
              <input matInput formControlName="sie" name="sie">
            </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="ancho-completo">
              <mat-label>Turno*</mat-label>
              <mat-select formControlName="turno" name="turno">
                  <mat-option *ngFor="let item of turnos"  [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field class="ancho-completo">
              <mat-label>Tipo de Centro*</mat-label>
              <mat-select formControlName="tipo" name="tipo">
                  <mat-option *ngFor="let item of tipos"  [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
         
        </div>
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="ancho-completo">
                <mat-label>Direccion*</mat-label>
                <input matInput formControlName="direccion" name="direccion">
              </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="ancho-completo">
              <mat-label>Distrito*</mat-label>
              <mat-select formControlName="distrito_id" name="distrito_id">
                  <mat-option *ngFor="let item of distritos"  [value]="item.id">
                    {{item.nombre}} - {{item.ciudad}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6">
            <mat-form-field class="ancho-completo">
                <mat-label>Telefono*</mat-label>
                <input matInput formControlName="telefono" name="telefono">
              </mat-form-field>
          </div>
         
          
        </div>
     </form>
    </mat-card-content>


    <mat-card-actions>
      <div class="row justify-content-center">
        <div class="col-4" *ngIf="!BanderaBoton">
          <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="enviar(myForm)">REGISTRAR</button>
        </div>
        <div class="col-4" *ngIf="BanderaBoton">
          <button mat-raised-button color="primary" (click)="actualizar()">ACTUALIZAR</button>
        </div>
        <div class="col-4">
          <button mat-raised-button color="warn" (click)="atras()">CANCELAR</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
   </ng-container>

    
    
    </div>
    <ng-template #vacio>
      <app-spinner></app-spinner>
    </ng-template>    
     
     
       
      
     
    
  
   
 
   


  
  </div>

