
    <div *ngIf="BanderaVista" class="reporte">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">SOLICITUDES</h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-3 mb-3">
                 <button mat-raised-button color="primary" (click)="generatePDF()">Generar PDF</button>
            </div>
            <div class="col-4 mb-3">
                <button mat-raised-button color="accent" (click)=" onNoClick()">Cancelar</button>
        </div>       
        </div>
        <div class="row">
            <div class="col-12">
                <table style="width:100%">
                    <tr>
                        <th class="text-center">Solicitante</th>
                        <th class="text-center">Referencia</th>
                        <th class="text-center">Centro Formacion</th>
                        <th class="text-center">Fecha Registro</th>
                    </tr>
                    <tr *ngFor="let item of solicitudes">
                        <td class="text-justify ">{{item.solicitante.nombre + ' '+ item.solicitante.apellido}} </td>
                        <td class="text-justify ">{{item.tramite.referencia}}</td>
                       
                        <td class="text-justify">{{item.centro_formacion.nombre}} </td>
                        <td class="text-center">{{item.created_at | date : 'dd/MM/yyyy'}} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="!BanderaVista">
        <app-spinner></app-spinner>
        <div *ngIf="BanderaDatos" class="row mt-5 justify-content-center">
            <div class="col-12">
                <span class="spiner">En este momento se esta generando el reporte. Espera ........ <i
                        class="fas fa-file-pdf"></i></span>
            </div>
        </div>
    </div>

