.body > td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
    
    .spiner {
        font-size: large;
        font-weight: bold;
        color: #3f51b5;
    }

td {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.ancho-completo {
    width: 100%;
}

mat-card {
    width: 100%;
}

h5 {
    font-size: 1rem;
    text-align: left;
}
p {
    font-size: 0.9rem;
    text-align: justify;
}
h4 {
    font-size: 1.3rem;
}

td, th {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
}