<ng-container *ngIf="BanderaDatos else vista">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">Ingresa los filtros</h5>
        </div>
    </div>
    <form [formGroup]="myForm">
        <div class="row mt-12">
            <div class="col-sm-4">
                <mat-form-field class="ancho-completo">
                    <mat-label>Usuario*</mat-label>
                    <mat-select formControlName="usuario" name="usuario">
                        <mat-option value=""> TODOS </mat-option>
                        <mat-option *ngFor="let item of usuarios"  [value]="item.id">
                          {{item.usuario}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field class="ancho-completo">
                  <mat-label>Fecha Inicial*</mat-label>
                  <input type="date" matInput formControlName="fecha_inicial" name="fecha_inicial">
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="ancho-completo">
                  <mat-label>Fecha Final*</mat-label>
                  <input type="date" matInput formControlName="fecha_final" name="fecha_final">
                </mat-form-field>
              </div>
        </div>
    </form>
    <div class="row mt-3 justify-content-around">
        <div class="col-4">
            <button class="ancho-completo" mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="mostrarReporte()">Filtrar
                Datos</button>
        </div>
        <div class="col-4">
            <button class="ancho-completo" mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
        </div>
    </div>
</ng-container>
<ng-template #vista>
    <div *ngIf="BanderaVista" class="reporte">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">BITACORAS</h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-3 mb-3">
                 <button mat-raised-button color="primary" (click)="generatePDF()">Generar PDF</button>
            </div>
            <div class="col-4 mb-3">
                <button mat-raised-button color="accent" (click)="atras()">Cancelar</button>
        </div>       
        </div>
        <div class="row">
            <div class="col-12">
                <table style="width:100%">
                    <tr>
                        <th class="text-center">Usuario</th>
                        <th class="text-center">Actividad</th>
                        <th class="text-center">Fecha Registro</th>
                        <th class="text-center">Hora Registro</th>
                    </tr>
                    <tr *ngFor="let item of bitacoras">
                        <td class="text-justify ">{{item.usuario.usuario}}</td>
                        <td class="text-center ">{{item.actividad}} </td>
                        <td class="text-justify">{{item.created_at| date: 'dd/MM/yyyy'}}</td>
                        <td class="text-center ">{{item.created_at| date: 'shortTime'}} </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="!BanderaVista">
        <app-spinner></app-spinner>
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <span class="spiner">En este momento se esta generando el reporte. Espera ........ <i
                        class="fas fa-file-pdf"></i></span>
            </div>
        </div>
    </div>
</ng-template>
