<div class="row justify-content-center mt-5">
    <div class="col-6">
        <mat-card>
            <h5 class="text-center"> SERVICIOS EN LA SUBDIRECCION DE EDUCACION ALTERNATIVA Y ESPECIAL</h5>
            <mat-card-content>
               <ul>
                   <li> Hacer cumplir los lineamientos emanados del nivel nacional para la generación de información estadística.</li>
                   <li> Conducir la consolidación de información estadística educativa departamental relativa a población educativa, infraestructura educativa, recursos humanos y a todos aquellos subsistemas en vigencia.</li>
                   <li>Promover el análisis de información estadística generada en los distritos educativos acerca de estudiantes, docentes, administrativos e infraestructura escolar.</li>
                   <li>Supervisar la integración de información estadística a nivel departamental, incorporando variables étnicas, geográficas y socioeconómicas de la región.</li>
                   <li>Dirigir el control de calidad de la información educativa generada en el Departamento.</li>
                   <li>Conducir la administración eficiente y eficaz de la red de computadoras y base de datos de la D.D.E.</li>
                   <li> Apoyar el proceso de nuclearización de acuerdo a las normas y lineamientos establecidos por el nivel
                    nacional.</li>
                   <li>Promover la consolidación de los órganos de participación popular para el desarrollo de la gestión educativa participativa en el Departamento.</li>
                   <li>Guiar la realización de proyecciones estadísticas escolares para determinar las necesidades de recursos
                    (materiales, humanos y financieros).</li>
                   <li>Elaborar los informes parciales o de gestión de la D.D.E.</li>
               </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
