<div class="row justify-content-center mt-5">
    <div class="col-6">
        <mat-card>
            <h5 class="text-center"> SERVICIOS Y TRAMITES EN LA SUBDIRECCION DE EDUCACION ALTERNATIVA Y ESPECIAL</h5>
            <mat-card-content>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quod corrupti qui doloremque explicabo obcaecati rem?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quod corrupti qui doloremque explicabo obcaecati rem?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quod corrupti qui doloremque explicabo obcaecati rem?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quod corrupti qui doloremque explicabo obcaecati rem?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quod corrupti qui doloremque explicabo obcaecati rem?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quod corrupti qui doloremque explicabo obcaecati rem?</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quod corrupti qui doloremque explicabo obcaecati rem?</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
